In [36]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import re
from tabulate import tabulate
import pandas as pd
import os
import pprint

In [37]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [16]:
#'https://www.ewg.org/tapwater/state.php?stab=TX'
#set url to variable 'url'
url = "https://www.ewg.org/tapwater/state.php?stab=TX"

In [17]:
# create a new Chrome session
driver = webdriver.Chrome()
driver.implicitly_wait(30)
driver.get(url)

In [18]:
#Selenium hands of the source of the specific job page to Beautiful Soup
soup_level2=BeautifulSoup(driver.page_source, 'lxml')

In [115]:
table = soup_level2.find_all('tr')
water_df=pd.DataFrame(table)
water_df[0][0]

In [129]:
listofdata=[]
for i in soup_level2.find_all('td'):
    listofdata.append(i.text)   
data_df=pd.DataFrame(listofdata,columns=['data'])

                                data
0                          Acton MUD
1                       Granbury, TX
2                             17,855
3                           Agua SUD
4                        Mission, TX
5                             45,498
6    Amarillo Municipal Water System
7                       Amarillo, TX
8                            196,429
9      Aqua Water Supply Corporation
10                       Bastrop, TX
11                            56,601
12                Atascosa Rural WSC
13                      Atascosa, TX
14                            10,482
15          Benbrook Water Authority
16                      Benbrook, TX
17                            21,530
18                   Benton City WSC
19                         Lytle, TX
20                            17,292
21                      Bethesda WSC
22                      Burleson, TX
23                            29,763
24                   Bi County WSC 1
25                     Pittsburg, TX
26                            10,806
27             Bolivar Peninsula SUD
28                 Crystal Beach, TX
29                            12,924
..                               ...
688                               35
689                          170,209
690                          Arsenic
691
692                               66
693                           96,542
694   Radium, combined (-226 & -228)
695
696                               38
697                           24,477
698                         Fluoride
699
700                               29
701                           23,898
702                          Uranium
703
704                               14
705                           19,521
706                         Selenium
707
708                                3
709                            7,596
710                          Nitrate
711
712                               30
713                            7,179
714              Nitrate and nitrite
715
716                               29
717                            7,135

[718 rows x 1 columns]

In [130]:
# water_df[water_df[0].str.contains("taminant")]

In [157]:
data_df[data_df['data'].str.contains("Total")==True]

                              data
330  Total trihalomethanes (TTHMs)
682  Total trihalomethanes (TTHMs)

In [170]:
new_list=[]
i=330
for i in range(330,681):
    new_data=data_df[i]
    new_list.append[new_data]
    i+=1
print(new_list)

KeyError: 330